<!DOCTYPE html>
<html lang="en" class="page">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@500;600;700&display=swap" rel="stylesheet">
</head>
<body class="page-body">

<header class="main-header"  th:fragment="isNotAuthPerson">
    <div class="conteiner setting-header">

        <a th:href="@{/}">
            <img src="/img/home/footer-logo.png" width="100px" alt="">
        </a>

        <nav>
            <ul class="center-nav">
                <li><a th:href="@{/}">Главная</a></li>
                <li><a th:href="@{/catalog}">Каталог</a></li>
                <li><a>Моя библиотека</a></li>
            </ul>
        </nav>
        <a th:unless="${isAuth}" class="init-home">Вход</a>
    </div>

</header>

<main class="conteiner auth-background-book main">
    <section class="login hidden">
        <form name="f" method="post" action="/log_in" class="main-login">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div>
                <h2>Вход</h2>
            </div>
            <ul>
                <li>
                    <input type="email" name="username" placeholder="Логин">
                </li>
                <li>
                    <input type="password" name="password" placeholder="Пароль">
                </li>
                <a th:href="@{/auth/registration}" class="reg-button">регистрация</a>
            </ul>

            <button class="button reg" type="submit">Войти</button>
        </form>
    </section>




</main>

<th:block th:insert="~{fragments/footer :: main-footer}"></th:block>



</body>
</html>
