<footer th:fragment="main-footer" class="footer">
    <div class="footer-navigation conteiner">
        <img src="/img/home/footer-logo.png" width="80px" alt="">
        <section>
            <h6>Все разработано гением-бауманцем</h6>
        </section>
        <section>
            <ul>
                <li>
                    <a href=""><img src="/img/home/email.png" width="25" alt=""></a>
                </li>
                <li>
                    <a href=""><img src="/img/home/telegram.png" width="25" alt=""></a>
                </li>
                <li>
                    <a href=""><img src="/img/home/vk.png" width="25" alt=""></a>
                </li>
            </ul>
        </section>
    </div>
</footer>