:root{
  --header-text: #2D2D2D;
  --header-and-footer: #E9EDB9;
  --main-color: #FFF9DB;
}





/*header*/


.header{
  display: grid;
  height: 70px;
  background-color: var(--header-and-footer);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-navigation{
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr max-content;
}










/*main*/

.main{

  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-row-gap: 10vw;

}



.main-main{
  display: grid;
  grid-template-rows: repeat(2, max-content);
align-items: center;
}

.main-main > img{
  justify-self: center;
  padding-top: 3vw;
  padding-bottom: 6vw;
}


.benefit{
  align-self: start;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 5vw;
  justify-content: center;
  justify-items: center;
}

.benefit li{

  display: grid;
  grid-template-rows: 71px 50px 31px;
  justify-items: center;
  text-align: center;
}

.benefit li h2{

  margin: 0px;
  font-size: 32px;
  font-weight: 700;
}

.benefit li h3{
  align-self: end;
  margin: 0px;
  font-size: 25px;
  font-weight: 600;
  line-height: 81%;
}






/*нижняя часть сайта без headera*/

.buf-info{
  width: 55vw;
  margin: 0 auto;
  font-size: 32px;
  display: grid;
  text-align: center;
  grid-template-rows: repeat(3, max-content);
  justify-items: center;



}

.buf-info h4{
  font-size: 25px;
  font-weight: 500;
  line-height: 81%;
  margin: 0px;
/*  width: 55vw;*/
}


.last-section{
font-weight: 700;
font-size: 20px;
line-height: 81%;
text-align: right;


  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-self: end;
  grid-column-gap: 25px;
  align-items: center;
  margin-right: 2vw;
  margin-bottom: 10vw;

}



